body {
  background-color: #303030;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Play", sans-serif;
}

/*nav/header*/
header {
background-color: #282828;
height: 65px;
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
border-bottom: 2px solid;
border-color: #116db6;
}
header img {
display: flex;
flex-direction: row;
justify-content: flex-start;
height: 50px;
width: 50px;
padding-top: 10px;
padding-left: 50px;
padding-bottom: 10px;
margin: 0;

}

header ul {
display: flex;
flex: 1;
justify-content: space-around;
align-items: center;
margin: 0;
padding-right: 30%;
padding-left: 25%;
}

header li {
list-style: none;
margin: 0;
color: white;
display: flex;
font-family: "Play", sans-serif;
font-size: 20px;
}

body{
margin: 0;
}

.top-nav ul{
display: flex;
list-style: none;
margin: 0;
padding: 0;
background: #282828;
}
.top-nav li a{
padding: 20px;
margin: 0;
color: #fff;
text-decoration: none;
display: block;
}

.top-nav li a:hover{
background: rgba(0,0,0,.4);
}
.top-nav li{
margin: 0;
padding: 0;
display: block;
}


.top-nav .inner-nav{
display: none;
position: absolute;
left: 0;
right: 0;
background: #282828;
color: #fff;
}
.top-nav li:hover .inner-nav{
display: block;
}
.inner-nav>div{
display:flex;
}

.box {
  margin-left: 300px;
}

.box-end {
  margin-left: 400px;
}

.top-nav a.active {
  background: rgba(0,0,0,.4);
}
/*content*/
.content-wrapper{
  display: flex;
  flex: 1;
}
.content-area {
  min-width: 960px;
  background-color: white;
  width: 100%;
}

.text-area {
  text-align: center;
  width: 960px;
}

.text-area p {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px
}

.navpic {
  height: 110px;
}

.headerpic {
  height: 49px;
}

/* Til textboxen */
.box1 {
background-color: #303030;
height: 300px;
width: 350px;
border: 2px solid;
border-color: #116db6;
margin: 50px;
padding: 10px;
overflow: auto;
}
.box1 p{
  color: white;
  text-align: center;
}
